<div class="main-wrapper">
  <ng-container [ngSwitch]="mainView()">
    
    <app-dashboard *ngSwitchCase="'dashboard'"></app-dashboard>

    <ng-container *ngSwitchDefault>
      <header class="header-full-width">
        <div class="header-content">
          <div class="logo" (click)="goToLanding()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2L2 7l10 5 10-5-10-5z"></path><path d="M2 17l10 5 10-5"></path><path d="M2 12l10 5 10-5"></path></svg>
            <span>Clínica Monteluz</span>
          </div>
          <nav>
            <button class="login-btn" (click)="onNavigateToAuth()">Iniciar Sesión / Registro</button>
          </nav>
        </div>
      </header>

      <main class="content-area">
        <app-landing *ngIf="!showAuth()" (navigateToAuth)="onNavigateToAuth()"></app-landing>
        <app-auth *ngIf="showAuth()"></app-auth>
      </main>
    </ng-container>

  </ng-container>
</div>

<app-loading></app-loading>
<app-notification></app-notification>
<app-prescription-modal></app-prescription-modal>
<app-confirmation-modal></app-confirmation-modal>
<app-notification-toast></app-notification-toast>
<router-outlet></router-outlet>